[submodule "prereq-ts"]
	path = prereq-ts
	url = https://github.com/Jan-libar-io/Turbin3-Builders-Cohort-Prerequisites-Enrollment-dApp-typescript
[submodule "prereq-rust"]
	path = prereq-rust
	url = https://github.com/Jan-libar-io/Turbin3-Builders-Cohort-Prerequisites-Enrollment-dApp-rust
[submodule "solana-starter"]
	path = solana-starter
	url = https://github.com/Jan-libar-io/Turbin3-Builders-Cohort-Solana-Starter
[submodule "anchor_vault"]
	path = anchor_vault
	url = https://github.com/Jan-libar-io/Turbin3-Builders-Cohort-Anchor-Vault.git
[submodule "anchor_escrow"]
	path = anchor_escrow
	url = https://github.com/Jan-libar-io/Turbin3-Builders-Cohort-Anchor-Escrow.git
[submodule "anchor_marketplace"]
	path = anchor_marketplace
	url = https://github.com/Jan-libar-io/Turbin3-Builders-Cohort-Anchor-Marketplace
